*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FAF8EF;
    font-family:Arial, Helvetica, sans-serif;
    color: #766E65;
}

main{
    margin: 50px auto;
    width: 500px;
}

header{
    margin-bottom:30px;
}

h1{
    font-size: 70px;
    display: inline-block;
    margin:20px 0 5px 0;
}

h3{
    font-size: 15px;
    color:#EDE4DA;
    margin: 5px 0;
}

#instructions{
    margin-bottom: 10px;
}

div.score{
    background-color: #BBAC9F;
    width: 70px;
    padding: 5px;
    text-align: center;
    margin: 5px;
    float: right;
    border-radius: 10px;
}

span.score{
    color: white;
    font-weight: 700;
    font-size: 30px;
}

a{
    color: #766E65;
    font-weight: 700;
}

footer{
    text-align: center;
}

hr{
    margin: 30px 0;
}

.game{
    background-color: #BBAC9F;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    clear: both;
    margin-bottom: 30px;
}

header p{
    float: left;
}

.new-game, #return{
    text-decoration: none;
    display: block;
    float: right;
    background-color: #8F7A65;
    color: #F8F6F1;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 3px;
}

.empty-cell{
    background-color: #CCC1B3;
    border-radius: 5px;
    width: 110px;
    height: 110px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    line-height: 110px;
}

.dois{
    background-color: #EDE4DA;
    color: #766E65;
    font-size: 50px;
}

.quatro{
    background-color: #EEE1C9;
    color: #766E65;
    font-size: 50px;
}

.oito{
    background-color: #F3B379;
    color: white;
    font-size: 50px;
}

.dezesseis{
    background-color: #F79663;
    color: white;
    font-size: 47px;
}

.trintaEDois{
    background-color: #F77D5F;
    color: white;
    font-size: 47px;
}

.sessentaEQuatro{
    background-color: #F75F3B;
    color: white;
    font-size: 47px;
}

.centoEVinteEOito{
    background-color: #EDD073;
    color: white;
    font-size: 44px;
}

.duzentosECinquentaESeis{
    background-color: #EECB61;
    color: white;
    font-size: 44px;
}

.quinhentosEDoze{
    background-color: #EDC850;
    color: white;
    font-size: 44px;
}

.milEVinteEQuatro{
    background-color: #EEC43F;
    color: white;
}

.doisMilEQuarentaEOito{
    background-color: #EDC22D;
    color: white;
}

.ganhosExtras{
    background-color: #222120;
    color: white;
}
